<body>
  <div class="container border">
    <h1>Warung Pak Parko</h1>
    <p>
      Promo Tukar 2 Botol Kosong Coca-cola dengan 1 Botol Isi Baru Coca-cola
    </p>
    <div class="row">
      <div class="col-6 border">
        <h6 style="text-align: center">
          Berapa minimal botol yang harus dibeli bila ingin mendapat 100 botol
          Coca Cola?
        </h6>
        <p>
          Saya memberikan jawabannya yaitu <b>200</b> botol coca cola yang harus
          dibeli agar bisa mendapatkan <b>100</b> botol coca-cola.
        </p>
        <p>
          <b>Karena</b>, perbandingan antara membeli 1 botol coca-cola sama
          dengan mendapatkan 1 botol coca-cola ketka sudah habis diminum. Jika
          hanya membeli 1 saja maka tidak dapat ditukarkan untuk mendapatkan 1
          botol coca-cola. Minimal untuk mendapatkan 1 Botol coca-cola yaitu
          dengan menukarkan 2 botol kosong coca-cola. Dan jika membeli dalam
          angka ganjil selain 1 maka dia akan dibulatkan ke bawah sesuai dengan
          yang dibeli. Contoh beli 3 dapat ditukarkan 1
        </p>
        <p>
          Mari kita coba inputkan berapa jumlah coca-cola yang akan dibeli ke
          dalam form dibawah ini yang sudah terisi dengan logika matematika
          sederhana.
          <i>Silahkan Dicoba</i>
        </p>

        <form class="mt-4">
          <div class="mb-3 row">
            <label for="botol" class="col-sm-7 col-form-label"
              >Jika Anda Membeli Coca-cola Sejumlah</label
            >
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="botol"
                [formControl]="botolIsi"
              />
            </div>
            <div class="col-sm-2">
              <button
                type="button"
                class="btn btn-primary"
                (click)="onCheckIsi()"
              >
                Check
              </button>
            </div>
          </div>
          <p *ngIf="errorIsi" id="errorIsi">
            Anda tidak memasukkan pembelian dengan benar. mohon masukkan berapa
            jumlah yang akan anda beli
          </p>
          <p *ngIf="tampilkan2">
            Jika anda membeli dengan jumlah
            <b>{{ konversi1 }}</b> coca-cola, anda tidak dapat menukarkan untuk
            mendapatkan botol coca-cola di warung Pak Warko. Karna minimal 2
            botol coca-cola yang dapat ditukarkan
          </p>
          <p *ngIf="tampilkan1">
            Jika anda membeli dengan jumlah
            <b>{{ konversi1 }}</b> coca-cola, ketika sudah habis anda dapat
            menukarkan botol coca-cola tersebut di warung Pak Warko, dan anda
            akan mendapatkan <b>{{ hasilKonversi1 }}</b> botol coca-cola dari
            hasil penukaran botol coca-cola yang telah anda beli.
          </p>
        </form>
      </div>

      <div class="col-6 border">
        <h6 style="text-align: center">
          Berapa maksimal jumlah botol Coca Cola yang bisa didapat apabila
          membeli 1000 botol?
        </h6>
        <p>
          Menurut Jawaban saya jumlah maksimal dari botol coca-cola yang
          didapatkan seusai membeli coca-cola 1000 botol yaitu <b>500</b> botol
          coca-cola.
        </p>
        <p>
          Karena, 1000 botol coca-cola yang isi baru itu sama dengan 1000 botol
          coca-cola yang kosong , perbedaannya hanya pada isi dan kosongnya, dia
          akan kosong ketika dihabiskan. Ketika coca-cola yang 1000 itu sudah
          diminum dan dihabiskan, maka dia menjadi botol coca-cola yang kosong,
          dan dapat ditukarkan di warung Pak Parko.
        </p>
        <p>
          Logikanya, persyaratan penukaran untuk mendapatkan botol coca-cola
          dengan perbandingan yaitu 2:1, 2 untuk botol kosong dan 1 untuk botol
          isi, nah saya memikirkan bawahsannya dari pembelian yang 1000 itu bisa
          dibagi 2, hasil dari 1000/2 yaitu <b>500</b>. Maka pembeli dapat
          menukarkan 1000 botol yang telah dibeli kemudian dapat ditukarkan
          untuk mendapatkan <b>500</b> botol coca-cola dari Pak Parko.
        </p>
        <p>
          Untuk mengeceknya bisa juga di form yang sebelah untuk mengecek
          kebenaran hasil dari pembelian 1000 botol coca-cola dan berapa botol
          coca-cola yang akan di dapatkan.
        </p>
      </div>
    </div>
  </div>
</body>
